# Version control
.git
.gitignore
.gitattributes

# Environment files
.env*
*.env

# Dependencies
**/node_modules
**/dist
**/.next

# Development files
**/.vscode
**/.idea
**/*.md
**/coverage

# Docker files (except the one being used)
**/Dockerfile*
!Dockerfile
!client/Dockerfile
docker-compose*
.docker
